
@model MVCZoo2.Models.Especie

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Especie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreCompuesto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreCompuesto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreCientifico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreCientifico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dd>
            <img src="~/images/@(Model.Id).jpg" />
        </dd>
    </dl>
</div>
<div>
    <h4>Habitats</h4>
    <hr />
    @foreach (var c in Model.ViveEns)
    {
        <p>@c.Habitat.Nombre - @c.Habitat.Clima - @c.Habitat.Vegetacion (@c.Indice)</p>
    }
    <hr />
</div>
<form asp-action="AddHabitats" asp-route-id="@Model.Id" method="post">

    <div class="form-group">
        <label class="control-label">Habitat:</label>
        <select name="HabitatId" class="form-control" asp-items="ViewBag.ListaHabitat"></select>
    </div>
    <div class="form-group">
        <label class="control-label">Indice:</label>
        <input type="text" name="Indice" class="form-control">
    </div>
    <div class="form-group">
        <input type="submit" value="Añadir" class="btn btn-default" />
    </div>
</form>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
