@model MVCZoo.Models.Itinerario

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Itinerario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Còdigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Còdigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visitantes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visitantes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitud)
        </dd>
    </dl>
</div>
<div>
    <h4>Habitats</h4>
    <hr />
    @foreach (var c in Model.Habitats)
    {
        <p>@c.Nombre (@c.Clima)</p>
    }
    <hr />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
